django==4.2
flake8==6.0.0
djangorestframework==3.14.0
mypy==1.2.0
pytest==7.3.1
pytest-django==4.5.2
flake8-black==0.3.6
flake8-import-order==0.18.2
factory-boy==3.2.1
black[d]==23.3.0
pydantic==1.10.7
pyjwt==2.6.0
psycopg2==2.9.6
drf-yasg[validation]==1.21.5